/*
=========================================
            GIRASOL
=========================================
*/

.girasol {
    position: relative;

    width: 280px;
    height: 360px;

    animation:
        crecer 1.8s ease,
        movimiento 4s
        ease-in-out infinite;
}



/*
=========================================
    CABEZA DEL GIRASOL
=========================================
*/

.girasol-cabeza {
    position: absolute;

    width: 220px;
    height: 220px;

    top: 0;
    left: 30px;
}



/*
=========================================
    PÉTALOS DEL GIRASOL
=========================================
*/

.girasol-petalo {
    position: absolute;

    width: 55px;
    height: 120px;

    left: 82px;
    top: 0;

    border-radius:
        50%
        50%
        45%
        45%;

    transform-origin:
        27px
        110px;

    background:
        linear-gradient(
            to right,
            #e5a900,
            #ffe15a,
            #ffc400
        );

    box-shadow:
        inset
        0 0 10px
        rgba(
            255,
            255,
            255,
            .25
        ),

        0 3px 7px
        rgba(
            0,
            0,
            0,
            .15
        );
}



/*
=========================================
    CENTRO DEL GIRASOL
=========================================
*/

.girasol-centro {
    position: absolute;

    width: 95px;
    height: 95px;

    left: 62px;
    top: 63px;

    border-radius:
        50%;

    z-index:
        20;

    background:
        radial-gradient(
            circle,
            #8c5a25 0%,
            #613614 45%,
            #351b0a 100%
        );

    box-shadow:
        0 0 20px
        rgba(
            255,
            199,
            0,
            .25
        );
}



/*
=========================================
    SEMILLAS
=========================================
*/

.semilla {
    position:
        absolute;

    width:
        4px;

    height:
        4px;

    background:
        #c58b3c;

    border-radius:
        50%;

    z-index:
        25;
}



/*
=========================================
    TALLO DEL GIRASOL
=========================================
*/

.girasol-tallo {
    position:
        absolute;

    width:
        14px;

    height:
        190px;

    left:
        133px;

    top:
        170px;

    border-radius:
        20px;

    background:
        linear-gradient(
            to right,
            #245a2d,
            #5b9c4a,
            #245a2d
        );

    z-index:
        -1;
}



/*
=========================================
    HOJAS DEL GIRASOL
=========================================
*/

.girasol-hoja {
    position:
        absolute;

    width:
        85px;

    height:
        48px;

    background:
        linear-gradient(
            135deg,
            #2f7437,
            #71a953
        );

    border-radius:
        100%
        0
        100%
        0;

    z-index:
        2;
}


.hoja-izquierda {
    top:
        245px;

    left:
        55px;

    transform:
        rotate(15deg);
}


.hoja-derecha {
    top:
        285px;

    left:
        140px;

    transform:
        rotate(-15deg)
        scaleX(-1);
}



/*
=========================================
            TULIPÁN MORADO
=========================================
*/

.tulipan {
    position:
        relative;

    width:
        230px;

    height:
        350px;

    animation:
        crecer 1.8s ease,
        movimiento-tulipan
        4.8s
        ease-in-out
        infinite;
}



/*
=========================================
    CABEZA DEL TULIPÁN
=========================================
*/

.tulipan-cabeza {
    position:
        absolute;

    width:
        150px;

    height:
        150px;

    top:
        10px;

    left:
        38px;
}



/*
=========================================
    PÉTALOS DEL TULIPÁN
=========================================
*/

.tulipan-petalo {
    position:
        absolute;

    bottom:
        0;

    border-radius:
        50%
        50%
        35%
        35%;

    background:
        linear-gradient(
            180deg,
            #d47af2 0%,
            #ad4ed2 55%,
            #8530aa 100%
        );

    box-shadow:
        inset
        0 0 10px
        rgba(
            255,
            255,
            255,
            .22
        ),

        0 4px 10px
        rgba(
            85,
            23,
            105,
            .18
        );
}



/*
=========================================
    PÉTALOS EXTERIORES
=========================================
*/

.petalo-fondo-izq {
    width:
        54px;

    height:
        94px;

    left:
        8px;

    bottom:
        22px;

    z-index:
        1;

    animation:
        petalo-izq
        3.1s
        ease-in-out
        infinite;
}


.petalo-fondo-der {
    width:
        54px;

    height:
        94px;

    right:
        8px;

    bottom:
        22px;

    z-index:
        1;

    animation:
        petalo-der
        3.2s
        ease-in-out
        infinite;
}



/*
=========================================
    PÉTALOS CENTRALES
=========================================
*/

.petalo-centro-izq {
    width:
        58px;

    height:
        110px;

    left:
        28px;

    bottom:
        28px;

    z-index:
        2;

    animation:
        petalo-centro-izq
        3.3s
        ease-in-out
        infinite;
}


.petalo-centro-der {
    width:
        58px;

    height:
        110px;

    right:
        28px;

    bottom:
        28px;

    z-index:
        2;

    animation:
        petalo-centro-der
        3.4s
        ease-in-out
        infinite;
}



/*
=========================================
    PÉTALO FRONTAL
=========================================
*/

.petalo-frontal {
    width:
        72px;

    height:
        116px;

    left:
        39px;

    bottom:
        10px;

    z-index:
        3;

    border-radius:
        46%
        46%
        28%
        28%;

    background:
        linear-gradient(
            180deg,
            #df92fa 0%,
            #b557d9 58%,
            #8e35b3 100%
        );

    animation:
        petalo-frontal
        3.5s
        ease-in-out
        infinite;
}



/*
=========================================
    VENAS DEL TULIPÁN
=========================================
*/

.vena {
    position:
        absolute;

    width:
        2px;

    height:
        55px;

    background:
        rgba(
            126,
            45,
            160,
            .28
        );

    border-radius:
        10px;

    top:
        34px;
}


.vena-1 {
    left:
        26px;

    transform:
        rotate(-6deg);
}


.vena-2 {
    left:
        35px;
}


.vena-3 {
    left:
        45px;

    transform:
        rotate(6deg);
}



/*
=========================================
    TALLO DEL TULIPÁN
=========================================
*/

.tulipan-tallo {
    position:
        absolute;

    width:
        11px;

    height:
        185px;

    left:
        109px;

    top:
        136px;

    border-radius:
        20px;

    background:
        linear-gradient(
            to right,
            #4f8e13,
            #76ab1e,
            #5e8f18
        );

    z-index:
        -1;
}



/*
=========================================
    HOJAS DEL TULIPÁN
=========================================
*/

.tulipan-hoja {
    position:
        absolute;

    background:
        linear-gradient(
            135deg,
            #719b1a,
            #9cbd31,
            #648d17
        );

    box-shadow:
        inset
        0 0 10px
        rgba(
            255,
            255,
            255,
            .10
        );
}


.tulipan-hoja-izquierda {
    width:
        86px;

    height:
        170px;

    left:
        30px;

    top:
        140px;

    transform:
        rotate(-20deg);

    clip-path:
        polygon(
            45% 0%,
            100% 18%,
            78% 100%,
            0% 76%
        );
}


.tulipan-hoja-derecha {
    width:
        92px;

    height:
        118px;

    left:
        116px;

    top:
        155px;

    transform:
        rotate(18deg);

    clip-path:
        polygon(
            0% 18%,
            58% 0%,
            100% 68%,
            18% 100%
        );
}



/*
=========================================
            LIRIO BLANCO
=========================================
*/

.lirio {
    position:
        relative;

    width:
        300px;

    height:
        360px;

    animation:
        crecer 1.8s ease,
        lirio-balanceo
        5s
        ease-in-out
        infinite;
}



/*
=========================================
    CABEZA DEL LIRIO
=========================================
*/

.lirio-cabeza {
    position:
        absolute;

    width:
        270px;

    height:
        235px;

    top:
        0;

    left:
        15px;

    z-index:
        5;
}



/*
=========================================
    PÉTALOS DEL LIRIO
=========================================
*/

.lirio-petalo {
    position:
        absolute;

    width:
        105px;

    height:
        155px;

    left:
        83px;

    top:
        39px;

    transform-origin:
        52px
        125px;

    border-radius:
        50%
        50%
        42%
        42%
        /
        65%
        65%
        35%
        35%;

    background:
        linear-gradient(
            90deg,
            #dedfd7 0%,
            #ffffff 25%,
            #fffef7 55%,
            #e7e8df 100%
        );

    box-shadow:
        inset
        7px 0 12px
        rgba(
            120,
            130,
            105,
            .08
        ),

        inset
        -5px 0 9px
        rgba(
            255,
            255,
            255,
            .9
        ),

        0 5px 9px
        rgba(
            80,
            70,
            55,
            .10
        );

    overflow:
        hidden;
}



/*
=========================================
    COLOR VERDE-AMARILLO DE LOS PÉTALOS
=========================================
*/

.lirio-petalo::before {
    content:
        "";

    position:
        absolute;

    width:
        15px;

    height:
        100px;

    left:
        45px;

    bottom:
        0;

    border-radius:
        50%;

    background:
        linear-gradient(
            to top,
            rgba(
                70,
                100,
                35,
                .82
            ),

            rgba(
                187,
                178,
                62,
                .58
            ),

            rgba(
                255,
                255,
                255,
                0
            )
        );

    filter:
        blur(.3px);
}



/*
=========================================
    VENAS BLANCAS
=========================================
*/

.lirio-petalo::after {
    content:
        "";

    position:
        absolute;

    width:
        3px;

    height:
        110px;

    left:
        52px;

    top:
        25px;

    background:
        linear-gradient(
            to bottom,
            transparent,
            rgba(
                130,
                135,
                120,
                .18
            ),
            transparent
        );

    border-radius:
        50%;
}



/*
=========================================
    PÉTALO SUPERIOR
=========================================
*/

.lirio-petalo-1 {
    z-index:
        1;

    animation:
        lirio-petalo-arriba
        4s
        ease-in-out
        infinite;
}



/*
=========================================
    PÉTALO IZQUIERDO
=========================================
*/

.lirio-petalo-2 {
    z-index:
        2;

    animation:
        lirio-petalo-izq
        4.3s
        ease-in-out
        infinite;
}



/*
=========================================
    PÉTALO DERECHO
=========================================
*/

.lirio-petalo-3 {
    z-index:
        2;

    animation:
        lirio-petalo-der
        4.2s
        ease-in-out
        infinite;
}



/*
=========================================
    PÉTALO INFERIOR IZQUIERDO
=========================================
*/

.lirio-petalo-4 {
    z-index:
        3;

    animation:
        lirio-petalo-abajo-izq
        4.4s
        ease-in-out
        infinite;
}



/*
=========================================
    PÉTALO INFERIOR DERECHO
=========================================
*/

.lirio-petalo-5 {
    z-index:
        3;

    animation:
        lirio-petalo-abajo-der
        4.5s
        ease-in-out
        infinite;
}



/*
=========================================
    PÉTALO FRONTAL
=========================================
*/

.lirio-petalo-6 {
    width:
        115px;

    height:
        160px;

    left:
        77px;

    top:
        73px;

    z-index:
        4;

    background:
        linear-gradient(
            90deg,
            #e2e3dc 0%,
            #ffffff 30%,
            #fffef6 60%,
            #dcddd5 100%
        );

    animation:
        lirio-petalo-frontal
        4.1s
        ease-in-out
        infinite;
}



/*
=========================================
    CENTRO DEL LIRIO
=========================================
*/

.lirio-centro {
    position:
        absolute;

    width:
        66px;

    height:
        43px;

    left:
        102px;

    top:
        120px;

    border-radius:
        50%;

    background:
        radial-gradient(
            ellipse,
            #263719 0%,
            #4f6a28 35%,
            #849338 58%,
            rgba(
                184,
                173,
                66,
                .4
            ) 72%,
            transparent 75%
        );

    z-index:
        8;
}



/*
=========================================
    PISTILO
=========================================
*/

.lirio-pistilo {
    position:
        absolute;

    width:
        5px;

    height:
        92px;

    left:
        133px;

    top:
        45px;

    border-radius:
        10px;

    background:
        linear-gradient(
            to right,
            #718735,
            #a2b24c,
            #61752c
        );

    transform:
        rotate(-3deg);

    transform-origin:
        bottom center;

    z-index:
        10;
}


.lirio-pistilo::before {
    content:
        "";

    position:
        absolute;

    width:
        14px;

    height:
        8px;

    top:
        -4px;

    left:
        -5px;

    border-radius:
        50%;

    background:
        #85963b;
}



/*
=========================================
    ESTAMBRES
=========================================
*/

.lirio-estambre {
    position:
        absolute;

    width:
        3px;

    height:
        80px;

    top:
        65px;

    left:
        134px;

    background:
        linear-gradient(
            to bottom,
            #789038,
            #9bab4c
        );

    border-radius:
        20px;

    transform-origin:
        bottom center;

    z-index:
        9;
}



/*
=========================================
    PUNTAS DE LOS ESTAMBRES
=========================================
*/

.lirio-antera {
    position:
        absolute;

    width:
        14px;

    height:
        6px;

    left:
        -5px;

    top:
        -3px;

    border-radius:
        50%;

    background:
        linear-gradient(
            to right,
            #88701c,
            #d6ac29,
            #927519
        );

    box-shadow:
        0 1px 2px
        rgba(
            90,
            70,
            10,
            .25
        );
}



/*
=========================================
    POSICIONES DE ESTAMBRES
=========================================
*/

.lirio-estambre-1 {
    transform:
        rotate(-30deg);

    height:
        76px;
}


.lirio-estambre-2 {
    transform:
        rotate(-18deg);

    height:
        88px;
}


.lirio-estambre-3 {
    transform:
        rotate(-7deg);

    height:
        96px;
}


.lirio-estambre-4 {
    transform:
        rotate(10deg);

    height:
        93px;
}


.lirio-estambre-5 {
    transform:
        rotate(22deg);

    height:
        85px;
}


.lirio-estambre-6 {
    transform:
        rotate(34deg);

    height:
        74px;
}



/*
=========================================
    TALLO DEL LIRIO
=========================================
*/

.lirio-tallo {
    position:
        absolute;

    width:
        13px;

    height:
        185px;

    left:
        144px;

    top:
        165px;

    border-radius:
        20px;

    background:
        linear-gradient(
            to right,
            #285329,
            #598748,
            #2b582d
        );

    z-index:
        0;
}



/*
=========================================
    HOJAS DEL LIRIO
=========================================
*/

.lirio-hoja {
    position:
        absolute;

    background:
        linear-gradient(
            135deg,
            #315d2e,
            #608d46,
            #3e6b34
        );

    z-index:
        1;
}


.lirio-hoja-izquierda {
    width:
        62px;

    height:
        135px;

    left:
        83px;

    top:
        198px;

    border-radius:
        100%
        0
        100%
        0;

    transform:
        rotate(-32deg);

    clip-path:
        polygon(
            50% 0,
            100% 100%,
            45% 80%,
            0 100%
        );
}


.lirio-hoja-derecha {
    width:
        62px;

    height:
        125px;

    left:
        150px;

    top:
        205px;

    border-radius:
        0
        100%
        0
        100%;

    transform:
        rotate(29deg);

    clip-path:
        polygon(
            50% 0,
            100% 100%,
            48% 80%,
            0 100%
        );
}



/*
=========================================
    ANIMACIÓN DE CRECIMIENTO
=========================================
*/

@keyframes crecer {

    0% {
        opacity:
            0;

        transform:
            translateY(150px)
            scale(.2);
    }

    70% {
        transform:
            translateY(0)
            scale(1.05);
    }

    100% {
        opacity:
            1;

        transform:
            translateY(0)
            scale(1);
    }

}



/*
=========================================
    MOVIMIENTO DEL GIRASOL
=========================================
*/

@keyframes movimiento {

    0%,
    100% {
        transform:
            rotate(-1deg);
    }

    50% {
        transform:
            rotate(1deg);
    }

}



/*
=========================================
    MOVIMIENTO DEL TULIPÁN
=========================================
*/

@keyframes movimiento-tulipan {

    0%,
    100% {
        transform:
            rotate(-1deg);
    }

    50% {
        transform:
            rotate(1deg);
    }

}



/*
=========================================
    PÉTALOS DEL TULIPÁN
=========================================
*/

@keyframes petalo-izq {

    0%,
    100% {
        transform:
            rotate(-18deg)
            translateY(0);
    }

    50% {
        transform:
            rotate(-21deg)
            translateY(-3px);
    }

}


@keyframes petalo-der {

    0%,
    100% {
        transform:
            rotate(18deg)
            translateY(0);
    }

    50% {
        transform:
            rotate(21deg)
            translateY(-3px);
    }

}


@keyframes petalo-centro-izq {

    0%,
    100% {
        transform:
            rotate(-8deg)
            translateY(0);
    }

    50% {
        transform:
            rotate(-10deg)
            translateY(-4px);
    }

}


@keyframes petalo-centro-der {

    0%,
    100% {
        transform:
            rotate(8deg)
            translateY(0);
    }

    50% {
        transform:
            rotate(10deg)
            translateY(-4px);
    }

}


@keyframes petalo-frontal {

    0%,
    100% {
        transform:
            translateY(0)
            scale(1);
    }

    50% {
        transform:
            translateY(-4px)
            scale(1.02);
    }

}



/*
=========================================
    BALANCEO DEL LIRIO
=========================================
*/

@keyframes lirio-balanceo {

    0%,
    100% {
        transform:
            rotate(-.8deg);
    }

    50% {
        transform:
            rotate(.8deg);
    }

}



/*
=========================================
    PÉTALO SUPERIOR DEL LIRIO
=========================================
*/

@keyframes lirio-petalo-arriba {

    0%,
    100% {
        transform:
            translateY(-35px)
            rotate(0deg)
            scaleX(.82);
    }

    50% {
        transform:
            translateY(-39px)
            rotate(1.5deg)
            scaleX(.84);
    }

}



/*
=========================================
    PÉTALO IZQUIERDO DEL LIRIO
=========================================
*/

@keyframes lirio-petalo-izq {

    0%,
    100% {
        transform:
            translate(-55px, -2px)
            rotate(-52deg);
    }

    50% {
        transform:
            translate(-58px, -5px)
            rotate(-55deg);
    }

}



/*
=========================================
    PÉTALO DERECHO DEL LIRIO
=========================================
*/

@keyframes lirio-petalo-der {

    0%,
    100% {
        transform:
            translate(55px, -2px)
            rotate(52deg);
    }

    50% {
        transform:
            translate(58px, -5px)
            rotate(55deg);
    }

}



/*
=========================================
    PÉTALO INFERIOR IZQUIERDO
=========================================
*/

@keyframes lirio-petalo-abajo-izq {

    0%,
    100% {
        transform:
            translate(-58px, 55px)
            rotate(-108deg)
            scale(.94);
    }

    50% {
        transform:
            translate(-61px, 57px)
            rotate(-111deg)
            scale(.96);
    }

}



/*
=========================================
    PÉTALO INFERIOR DERECHO
=========================================
*/

@keyframes lirio-petalo-abajo-der {

    0%,
    100% {
        transform:
            translate(58px, 55px)
            rotate(108deg)
            scale(.94);
    }

    50% {
        transform:
            translate(61px, 57px)
            rotate(111deg)
            scale(.96);
    }

}



/*
=========================================
    PÉTALO FRONTAL DEL LIRIO
=========================================
*/

@keyframes lirio-petalo-frontal {

    0%,
    100% {
        transform:
            rotate(180deg)
            scaleX(.95)
            translateY(0);
    }

    50% {
        transform:
            rotate(180deg)
            scaleX(.98)
            translateY(-3px);
    }

}



/*
=========================================
    CELULARES
=========================================
*/

@media (
    max-width: 600px
) {

    .girasol {
        transform:
            scale(.88);
    }


    .tulipan {
        transform:
            scale(.92);
    }


    .lirio {
        transform:
            scale(.88);
    }

}